@define-color bg #272e33;
@define-color bg-light #414b50;
@define-color bg-red #4c3743;
@define-color bg-green #3c4841;
@define-color bg-yellow #45443c;

@define-color fg #d3c6aa;
@define-color fg-green #a7c080;
@define-color fg-red #e67e80;

@define-color gray1 #859289;
@define-color gray2 #9da9a0;

* {
  font-family: 'Space Mono Nerd Font';
  font-size: 16px;
}

window#waybar {
  background-color: @bg;
  color: @fg;
}

.modules-center {
  padding-right: 10px;
}

#workspaces {
  color: transparent;
}

#workspaces button {
  color: @fg;
}

#workspaces button.active {
  background-color: @bg-green;
}

#workspaces button.focused {
  background-color: @bg-green;
}

#workspaces button.urgent {
  background-color: @bg-red;
}


#clock,
#pulseaudio,
#tray,
#network, 
#memory,
#cpu,
#temperature,
#backlight,
#battery {
  border-radius: 6px;
  padding: 4px;
  background-color: @bg-light;
}

#pulseaudio {
  padding-right: 14px;
}

#battery {
  padding-right: 10px;
}

#battery.warning {
  background-color: @bg-yellow;
}

#battery.critical {
  background-color: @bg-red;
}

#network {
  padding-right: 12px;
  background-color: @bg-green;
}

#network.disconnected {
  background-color: @bg-red;
}

#cpu {
  padding-right: 8px;
}

#submap {
  color: @fg-red;
}
